<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="csv-upload" routerLinkActive="active">CSV Upload</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="customer-browser" routerLinkActive="active">Customer Browser</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="customer-profile" routerLinkActive="active">Customer Profile</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="customer-retention-plan" routerLinkActive="active">Retention Plan</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="policy-upload" routerLinkActive="active">Policy Upload</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="policy-based-retention" routerLinkActive="active">Policy Based Retention</a>
</nav>
<router-outlet></router-outlet>
